* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000;
}

ul {
  list-style: none;
} 

.header {
  width: 100%;
  height: 60px;
  font-size: 18px;
  position: absolute;
  font-weight: 600;
  backdrop-filter: blur(3px); 
  z-index: 100000;
}

.header .header__link-list {
  height: 60px;
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
  margin: 0 25px;
}

.header .header__link {
  transition-duration: 150ms;
  border-bottom-color: transparent;
  display: inline-block;
  position: relative;
  color: #000;
}

.header .header__link::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}

.header .header__link:hover::before {
  width: 100%;
}

.previev {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/images/previev-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  text-align: center;
  position: relative;
}

.previev .previev__title {
  font-size: 42px;
  margin: 0 25px;
}

.previev .previev__description {
  font-size: 18px;
  font-weight: 400;
}

.previev .previev__link {
  width: fit-content;
  font-size: 18px;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: bold;
}

.groups {
  padding: 80px 25px;
}

.groups .groups__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;
}

.groups .groups__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.groups .groups__link {
  display: flex;
  flex-direction: column;
}

.groups .groups__image {
  width: 250px;
  height: 265px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.groups .groups__text {
  font-size: 18px;
  padding: 20px 0 0 0;
  font-weight: 600;
}

.about {
  text-align: center;
  padding: 80px 25px;
  background-image: url('../assets/images/about-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.about .about__title {
  font-size: 24px;
  margin-bottom: 40px;
  color: #fff;
}

.about .about__description {
  font-size: 18px;
  width: 75%;
  margin: 0 auto;
  color: #fff;
  line-height: 1.75;
}

.questions-answers {
  padding: 80px 25px;
}

.questions-answers .questions-answers__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;
}

.questions-answers .questions-answers__details {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
}

.questions-answers .questions-answers__question {
  width: 100%;
  padding: 25px;
  list-style: none;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}

.questions-answers .questions-answers__question::after {
  content: '∟';
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  transform: rotate(-45deg);
  line-height: 12px;
  position: absolute;
  right: 25px;
}

.questions-answers .questions-answers__details[open] .questions-answers__question::after {
  transform: rotate(135deg);
  line-height: 29px;
  right: 21px;
}

.questions-answers .questions-answers__answer {
  padding: 25px;
}

.questions-answers .questions-answers__details:nth-child(6) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #353535;
  padding: 20px 25px 20px 25px;
}

.footer .footer__title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.footer .footer__column {
  margin-bottom: 20px;
}

.footer .footer__number-title,
.footer .footer__address-title {
  font-size: 14px;
  margin-bottom: 5px;
  color: #969595;
}

.footer .footer__number,
.footer .footer__address {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  color: #fff;
}

.footer .footer__number {
  width: fit-content;
  border-bottom-color: transparent;
  position: relative;
  border-bottom: 1px dashed #fff;
  padding-bottom: 2px;
}

.footer .footer__number::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s ease;
  border-bottom: 1px dashed #fff;
}

.footer .footer__number:hover::before {
  width: 100%;
}

.footer .footer__address {
  font-style: normal;
}

.footer .footer__address b {
  color: #fff;
}

.footer .footer__yandex {
  max-width: 900px;
  height: 400px;
  width: calc(100vw - 250px);
}

.footer .footer__text {
  color: #969595;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .footer .footer__wrapper {
    display: block;
  }
  
  .footer .footer__yandex {
    max-width: 100%;
    width: 100%;
    height: 50vh;
  }
}